<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->


<mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="selectionChange($event)">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>เเจ้งเตือน</ng-template>
      <h5>
        โปรดตรวจสอบให้แน่ใจว่าคุณได้ทำการสเเกนเอกสารไว้เรียบร้อยเเล้ว <br> หากใช่ ให้กดปุ่ม "ถัดไป"
        เพื่อไปหน้าการอัพโหลดข้อมูล
      </h5>
      <div>
        <button mat-flat-button color="warn" (click)="close()">ยกเลิก</button>
        <button class="mt btn" mat-flat-button color="primary" matStepperNext>ถัดไป</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>อัปโหลด</ng-template>
      <div class="head">
        <H5>อัพโหลดไฟล์สูติบัตร</H5>
      </div>

      <img class="img" (click)="fileInput.click()" src="https://image.flaticon.com/icons/svg/138/138590.svg">
      <div class="container">
        <button class="uploadbtn" mat-flat-button color="primary" (click)="fileInput.click()">อัพโหลดไฟล์</button>
        <input hidden type="file" #fileInput (change)="detectFiles($event)">
        <div class="mt-3">รายการไฟล์ที่เลือก : </div>
        <div class="filename"> {{fileSelected}} </div>

      </div>
      <div>
        <button mat-flat-button color="warn" matStepperPrevious>ย้อนกลับ</button>
        <button class="mt btn" mat-flat-button color="primary" matStepperNext>ถัดไป</button>
      </div>


    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">


    <ng-template matStepLabel>ผลการสแกน</ng-template>
    <div class="head">
      <H5>ผลการสเเกนข้อมูลเบื้องต้นจากไฟล์สูติบัตร</H5>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

      <div class="row mt-2">
        <div class="col-6">
          <mat-card class="example-card">

            <img mat-card-image src="assets/Capture1.jpg">

          </mat-card>
        </div>
        <div class="col-6" >

          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="เลขบัตรประจำตัวประชาชน" [(ngModel)]="studentsdata.id">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="ชื่อ - นามสกุล" [(ngModel)]="studentsdata.fullname">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="เพศ" [(ngModel)]="studentsdata.gender">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="วันเกิด" [(ngModel)]="studentsdata.dateofbirth">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="ชื่อสกุลบิดา" [(ngModel)]="studentsdata.fathername">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="ชื่อสกุลมารดา" [(ngModel)]="studentsdata.mothername">
            </mat-form-field>
          </div>

          
            <mat-spinner class="spinner-doc" *ngIf="isshow"></mat-spinner>
          

        </div>
        </div>

    </cdk-virtual-scroll-viewport>

    <div>
      <button mat-flat-button color="warn" matStepperPrevious>ย้อนกลับ</button>
      <button class="mt btn" mat-flat-button color="primary" matStepperNext>ถัดไป</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>อัปโหลดไฟล์ที่เหลือ</ng-template>
      <div class="head">
        <H5>อัปโหลดไฟล์ข้อมูลอื่นๆที่เหลือ</H5>
      </div>

      <img (click)="fileInput2.click()" class="mt-2 img" src="https://image.flaticon.com/icons/svg/138/138590.svg"
        multiple>
      <div class="container">
        <button class="uploadbtn1" mat-flat-button color="primary" (click)="fileInput2.click()">อัพโหลดไฟล์</button>
        <input hidden type="file" #fileInput2 multiple (change)="detectFiles2($event)">
      </div>
      <p class="mt-3">รายการไฟล์ที่เลือก : </p>
      
      <div class="filename" *ngFor="let item of filesMulti">
        {{item.name}}
      </div>
      <p class="mt-2">**หมายเหตุสามารถเลือกอัปโหลดได้มากกว่า 1 ไฟล์**</p>

    </form>
    <div>
      <button mat-flat-button color="warn" matStepperPrevious>ย้อนกลับ</button>
      <button class="mt btn" mat-flat-button color="primary" matStepperNext>ถัดไป</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">

    <ng-template matStepLabel>ตรวจสอบ</ng-template>
    <div class="head">
      <h5>ตรวจสอบความถูกต้องของข้อมูล</h5>
    </div>

    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

      <div class="p5">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="เลขบัตรประชาชน" [(ngModel)]="studentsdata.id">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ชื่อ-สกุล" [(ngModel)]="studentsdata.fullname">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="example-full-width">
          <input matInput placeholder="เพศ" [(ngModel)]="studentsdata.gender">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="example-full-width">
          <input matInput placeholder="วัน/เดือน/ปีเกิด" [(ngModel)]="studentsdata.dateofbirth">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="example-full-width">
          <input matInput placeholder="สถานที่เกิด" [(ngModel)]="studentsdata.birthplace">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="example-full-width">
          <input matInput placeholder="เป็นบุตรลำดับที่" [(ngModel)]="studentsdata.no">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ผู้ทำคลอด" [(ngModel)]="studentsdata.doctor">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="example-full-width">
          <input matInput placeholder="น้ำหนักแรกเกิด" [(ngModel)]="studentsdata.weight">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ชื่อ-สกุลบิดา" [(ngModel)]="studentsdata.fathername">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="example-full-width">
          <input matInput placeholder="เลขบัตรประชาชนบิดา" [(ngModel)]="studentsdata.fatherid">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ชื่อ-สกุลมารดา" [(ngModel)]="studentsdata.mothername">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="example-full-width">
          <input matInput placeholder="เลขบัตรประชาชนมารดา" [(ngModel)]="studentsdata.motherid">
        </mat-form-field>
      </div>

      <div>
        รายการไฟล์ที่อัปโหลด :
      </div>
      <div class="filename" *ngFor="let item of filesMulti">
        {{item.name}}
      </div>


    </cdk-virtual-scroll-viewport>

    <div>
      <button mat-flat-button color="warn" matStepperPrevious>ย้อนกลับ</button>
      <button class="mt btn1" mat-flat-button color="primary" (click)="onNoClick()">บันทึก</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>