

<div class="col-6" *ngIf="students.length === 0">
<div><h3 class="head">เพิ่มรายชื่อผู้สมัครเข้าเรียน</h3></div>
  <img  src="https://image.flaticon.com/icons/svg/1006/1006013.svg" class="adduserfirst" (click)="openDialog()">

</div>




<div class="row" *ngIf="students.length > 0">
  <div class="col-12">

<div><h3 class="head">รายชื่อผู้สมัครเข้าเรียน</h3></div>
    <div><img src="https://image.flaticon.com/icons/svg/1006/1006013.svg" class="adduser" (click)="openDialog()"></div>

    <div class="row mt-5  border-buttom">
      <div class="col-3">ชื่อ - สกุล</div>
      <div class="col-3">เลขประจำตัวประชาชน</div>
      <div class="col-2">เบอร์โทรติดต่อ</div>
      <div class="col-2">สถานะการสมัคร</div>
      <div class="col-2">การจัดการ</div>
    </div>

    <div class="row mt-2 border-buttom" *ngFor="let students of students">
      <div class="col-3 mt-1">{{students.fullname}}</div>
      <div class="col-3">{{students.id}}</div>
      <div class="col-2">{{students.telno}}</div>
      <div class="col-4">

        <mat-form-field>
          <mat-label>สถานะการสมัคร</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="pass">ผ่าน</mat-option>
            <mat-option value="denied">ไม่ผ่าน</mat-option>
          </mat-select>
        </mat-form-field>
      
      
      <button  mat-raised-button color="warn" >แก้ไข</button>
      <button  mat-raised-button color="primary" >ดาวน์โหลด</button>
     
    </div>

  </div>
</div>