<h1>รายชื่อนักเรียน</h1>

<div class="row" *ngIf="students.length === 0">

  <img src="https://image.flaticon.com/icons/svg/1006/1006013.svg" class="adduserfirst" (click)="openDialog()">
  
</div>




<div class="row" *ngIf="students.length > 0">
  <div class="col-12">
    

    <div><img src="https://image.flaticon.com/icons/svg/1006/1006013.svg" class="adduser" (click)="openDialog()"></div>

    <div class="row mt-5">
      <div class="col-4">ชื่อ - สกุล</div>
      <div class="col-4">เลขประจำตัวประชาชน</div>
      <div class="col-4">เบอร์โทรติดต่อ</div>
    </div>

    <div class="row mt-2" *ngFor="let students of students">
      <div class="col-4">{{students.fullname}}</div>
      <div class="col-4">{{students.id}}</div>
      <div class="col-4">{{students.telno}}</div>
    </div>

  </div>
</div>