.table {
    width: 100%;
  }

.adduser {
    width: 80px;
    height: 80px;
}

.adduserfirst{
    width: 70%;
    height: 70%;
    margin-left: 72%;
    margin-top: 20%;
    
}


.border-buttom{
    border-width: 1px;
    border-bottom-style: solid;
    border-color: #80808038;
}

// .btnmanage {
//     color: aqua;
// }

.head{
    margin-left: 1%;
    margin-bottom: 4%;
    margin-top: 2%;
}